<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.47)"
size = "medium"
color = "#fff"
type = "ball-clip-rotate-pulse"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="row justify-content-center">
        
        <div class="col-md-4 register-employee">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Cadastrar Colaborador</h3>
                </div>
            <!-- form card register -->
                <div class="card-body">
                    <form [formGroup]="colaboradorForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="inputName">Nome</label>
                            <input class="form-control" type="text" name="nome" formControlName="nome">
                            <div class="invalid-feedback" *ngIf="submitted && myForm.nome.errors?.required">
                                Nome é obrigatório.
                            </div>
                            </div>
                            <div class="form-group">
                            <label for="inputEmail3">Email</label>
                            <input class="form-control" type="text" formControlName="email">
                            <!-- error -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.required">
                                Digite o email.
                            </div>
                            <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
                                Digite um email válido.
                            </div>
                            </div>
                
                            <div class="form-group">
                            <label for="inputVerify3">Telefone</label>
                            <input class="form-control" type="text" formControlName="telefone">
                            <!-- error -->
                            <div class="invalid-feedback" *ngIf="submitted && myForm.telefone.errors?.required">
                                Digite um número de telefone.
                            </div>
                            <div class="invalid-feedback" *ngIf="submitted && myForm.telefone.errors?.pattern">
                                Digite apenas números.
                            </div>
                        </div>
      
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" type="submit">Salvar</button>
                        </div>
                        <div class="form-group">
                                <a class="btn btn-outline-primary  btn-block"  routerLink="/colaborador-list">Voltar</a>
                        </div>
                </form>
        </div>
          </div>
        </div><!-- form card register -->
      </div>