<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal h5-logo" routerLink="/">Meeting Room</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <button class="btn btn-outline a-button-sala" routerLink="/colaborador-list">Colaboradores</button>
  </nav>
  <button class="btn btn-warning "  routerLinkActive="active" routerLink="/salas-list">Salas de Reunião</button>
</div>

<router-outlet></router-outlet>